modules = ["nodejs-20", "bash", "python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["arrow-cpp", "borgbackup", "c-ares", "cacert", "cairo", "cargo", "chromedriver", "ffmpeg", "ffmpeg-full", "file", "firefox", "freefont_ttf", "freetype", "gdk-pixbuf", "geckodriver", "gettext", "ghostscript", "gitFull", "glib", "glibcLocales", "gobject-introspection", "gtk3", "imagemagick", "lcms2", "libGL", "libcxx", "libffi", "libiconv", "libimagequant", "libjpeg", "libtiff", "libuv", "libwebp", "libxcrypt", "nodejs", "oneDNN", "openjpeg", "openssl", "pgadmin4", "pkg-config", "playwright-driver", "postgresql", "qhull", "re2", "rustc", "tcl", "tk", "util-linux", "xcodebuild", "xsimd", "zlib", "gcc", "gcc-unwrapped"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 53695201

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"

[[workflows.workflow]]
name = "Run"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py 1"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
RIVAL_API_KEY = "abc2f2fe-a27b-43c0-8b0d-5b4b76752209"
